/* Root variables for consistent theme */
:root {
  --primary-color: #007bff;
  --primary-hover: #0069d9;
  /* --background-color: #702a2a; */
  --text-color: #333;
  --table-header-color: #f2f2f2;
  --border-color: #ddd;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background:url('../images/bgBanner.webp');
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(2px);
  min-height: 100vh;
}

.connected-container{
  background-color: blue;
}


.welcome-message{
  background: linear-gradient(45deg, #FF9933, #FFFFFF, #138808, #000080);
  background-size: 200% 200%;
  animation: gradientChange 5s ease infinite;
  height: 50px;
  border-radius: 50px;
  padding: 20px;
  color: black !important;
  border: solid wheat;
}


@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.connected-header{
  background: linear-gradient(45deg, #FF9933, #FFFFFF, #138808, #000080);
  background-size: 200% 200%;
  animation: gradientChange 5s ease infinite;
  height: 50px;
  border-radius: 50px;
  padding: 20px;
  color: black !important;
  border: solid wheat;
}

.myTable{
  color: white;
}



/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.login-button {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--primary-hover);
}

.login-button:active {
  background-color: #005bb5;
}

/* Connected Container */
.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.connected-button {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: var(--primary-hover);
}

.connected-button:active {
  background-color: #005bb5;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-color);
}

/* Candidates Table */
.candidates-table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  background-color: #33333383;
  margin: 0 auto;
  text-align: center;
}

.candidates-table th, .candidates-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.candidates-table th {
  background-color: var(--table-header-color);
  color: var(--text-color);
}

.candidates-table td {
  color: white;
}

/* Input */
input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 200px;
  transition: border-color 0.3s ease;
}

input[type=number]:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .candidates-table {
    width: 100%;
  }
}
